{% extends "network/layout.html" %}

{% block body %}
<h1>{{ username }}</h1> 
<!--Container for followers and following-->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div><button class="btn btn-primary btn-sm"><h6 class="col-4">Followers:{{ followers.count }} </h6></button>
            <button class="btn btn-primary btn-sm"><h6 class="col-4">Following:{{ following.count }} </h6></button>
        </div>
        <!--To make sure user is logged in before following another user-->
        {% if user.is_authenticated %}
            <!--To make sure users do not follow their own profile-->        
            {% if user != user_profile %}
                {% if is_following %}
                    <form action="{% url 'unfollow' %}" method="post">
                        {% csrf_token %}
                        <div class="input-container">                        
                        <input type="hidden" name="userfollow" value="{{ user_profile }}" />
                        <button type="submit" class="btn btn-danger" title="Unfollow user">
                            <i class="fa fa-user-times"></i>
                        </button>
                        </div>
                    </form>
                {% else %}
                <form action="{% url 'follow' %}" method="post">
                    {% csrf_token %}
                    <div class="input-container">                    
                    <input type="hidden" name="userfollow" value="{{ user_profile }}" />
                    <button type="submit" class="btn btn-success" title="Follow user">
                        <i class="fa fa-user-plus"></i>
                    </button>
                    </div>
                </form>
                
                {% endif %}
            {% endif %}
         {% endif %}
    </div>
</div>

        <!--To display all posts from users-->
        <div class="all-posts">
            {% for post in posts_of_page %}
                <div class="row post">
                    <h5 class="username"> <a href="{% url 'profile' user_id=post.user.id %}">@{{ post.user }}</a></a></h5>
                    <div class="content"><h6 class="content">{{ post.content }}</h6></div>
                    <div class="date">{{ post.created_at }}</div> 
                    <div class="likes">Likes: {{ post.likes_count }}</div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center">
                {% if posts_of_page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts_of_page.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if posts_of_page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts_of_page.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
          </nav>

          
{% endblock %}