.new-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.all-posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}
.post{
    border: 0.1px solid rgb(63, 65, 63);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 5px 20px;

}
.fa {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: rgb(63, 126, 47);
  }